[submodule "dependencies/maker-otc"]
	path = dependencies/maker-otc
	url = https://github.com/r001/maker-otc.git
	branch = matcher
[submodule "dependencies/token-wrapper"]
	path = dependencies/token-wrapper
	url = https://github.com/makerdao/token-wrapper.git
	branch = dapp-tool
