<template name="currencySelector">
  <p>
    Quote Currency:
    <select id="sltQuoteCurrency" {{b "options: currencies, value: quoteCurrency, change: quoteChange"}}></select>
    <span class="text-danger" {{b "text: quoteHelper"}}></span>
  <span id="spnSwitchCurrencies" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>

    Base Currency:
    <select id="sltBaseCurrency" {{b "options: currencies, value: baseCurrency, change: baseChange"}}></select>
    <span class="text-danger" {{b "text: baseHelper"}}></span>
  </p>
</template>
