<template name="ethtokens">
  <form id="ethtokens">
    <h2>
      ETH Tokens
      {{> whatisthis section="eth-tokens"}}
    </h2>
    <div>
      <table>
        <tbody>
          <tr>
            <th>
              ETH
            </th>
            <td>
              {{formatBalance ETHBalance}}
            </td>
          </tr>
          <tr>
            <th>
              ETH Tokens
            </th>
            <td>
              {{#let token=(findToken 'ETH')}}
                {{formatBalance token.balance}}
              {{/let}}
            </td>
          </tr>
          <tr>
            <th>
              Type
            </th>
            <td>
              <div class="radio">
                <label><input type="radio" value="deposit" {{b "group: type"}}> Deposit</label>
                <label><input type="radio" value="withdraw" {{b "group: type"}}> Withdraw</label>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              Amount
            </th>
            <td>
              <input type="number" class="input" step="any" min="0" {{b "value: amount, attr: { max: maxAmount }"}}>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>
            </th>
            <td>
              <button class="btn btn-default" {{b "text: type, enable: canDeposit, click: deposit"}}></button>
            </td>
          </tr>
          {{#unless equals lastError ''}}
            <tr>
              <td colspan="2">
                {{lastError}}
              </td>
            </tr>
          {{/unless}}
        </tfoot>
      </table>
      {{#if pending}}
        <table>
          <tbody>
            <tr>
              <th colspan="2" style="text-align: center">
                Pending
              </th>
            </tr>
            {{#each pending}}
              <tr>
                <th>
                  {{this.type}}
                </th>
                <td>
                  {{this.amount}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  </form>
</template>
