<body>
  <div class="container">
    <h1>
      <img alt=Maker src=https://makerdao.com/splash/images/logo.svg>
      <span>#otc</span>
    </h1>

    <p>
      This is a simple on-chain OTC market. Either pick an order below (in which case delivery will happen instantly), or <a href="#neworder">submit a new order</a>.
    </p>

    <p class="text-danger">
      <strong>Warning!</strong> MakerOTC is undergoing alpha testing: Proceed at your own risk, and use only small amounts of {{quoteCurrency}} and {{baseCurrency}}.
    </p>

    <p>
      Network: {{network}}
      {{#unless isConnected}}
        (not connected)
      {{else}}
        {{#if syncing}}
          (syncing {{syncingPercentage}}%)
        {{else}}
          {{#if outOfSync}}
            (out of sync, waiting for synchronization)
          {{else}}
            {{#if loading}}
              (loading offers {{loadingProgress}}%)
            {{else}}
              {{#if ready}}
                (ready)
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/unless}}
      {{> whatisthis section="network"}}
    </p>

    {{#if ready}}
      {{#unless equals network 'private'}}
        <p>
          Contract: <a href={{contractHref}}>{{contractAddress}}</a>
          {{> whatisthis section="contract"}}
        </p>
      {{/unless}}
      {{> accountSelector }}
      {{> currencySelector }}
      <p>
        Balance: {{formatBalance ETHBalance}} ETH
        {{> whatisthis section="balance"}}
      </p>
      <p>Tokens:
        {{#each token in allTokens}}
          {{formatBalance token.balance}}
          {{#if equals token._id 'ETH'}}
            <a href="#ethtokens">{{token._id}}</a> {{> whatisthis section="eth-tokens"}}
          {{else}}
            {{token._id}}
          {{/if}}
          |
        {{/each}}
        {{> whatisthis section="tokens"}}
      </p>
      <p>
        <a href="#allowance">Allowance</a>: {{#each token in allTokens}}{{formatBalance token.allowance}} {{token._id}} | {{/each}}
        {{> whatisthis section="allowance"}}
      </p>

      {{#if contractExists}}
        <div class=row>
          <section>
            {{> orderbook title='Buy orders' subtitle=(concat '(click to sell ' baseCurrency ')') priceLabel='Bid Price' priceClass='bid' orders=(findOffers 'bid') canAccept=true}}
          </section>
          <section>
            {{> orderbook title='Sell orders' subtitle=(concat '(click to buy ' baseCurrency ')') priceLabel='Ask Price' priceClass='ask' orders=(findOffers 'ask') canAccept=true}}
          </section>
        </div>
        <div class=row>
          <section>
            {{> neworder}}
          </section>
          <section>
            {{> myorders}}
          </section>
        </div>
        <div class=row>
          <section>
            <h2 id="allowance">
              Allowance
              {{> whatisthis section="allowance"}}
            </h2>
            {{#each token in allTokens}}
              {{#if token}}
                {{> newallowance token=token}}
              {{/if}}
            {{/each}}
          </section>
          <section>
            {{> ethtokens}}
          </section>
        </div>
        <div class=row>
          <section>
            {{> sendtokens}}
          </section>
        </div>

        {{> offermodal offer=(findOffer selectedOffer)}}
      {{else}}
        <p>
          Could not find the contract on your current blockchain environment.
        </p>
      {{/if}}
    {{/if}}
    {{#unless isConnected}}
      {{> noEthereum}}
    {{/unless}}
  </div>
  {{> footer}}
</body>
