<template name="myorders">
  <h2>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#myorders" aria-controls="myorders" role="tab" data-toggle="tab">My Orders</a>
      </li>
      <li role="presentation">
        <a href="#lasttrades" aria-controls="lasttrades" role="tab" data-toggle="tab">Last Trades</a>
      </li>
    </ul>
  </h2>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active o" id="myorders">
      {{> orders orders=(findOffers 'mine') priceLabel='Price' showCancel=true}}
    </div>
    <div role="tabpanel" class="tab-pane o" id="lasttrades">
      {{> orders orders=lastTrades priceLabel='Price'}}
    </div>
  </div>
</template>
