<template name="newallowance">
  <form>
    <div>
      <table>
        <tbody>
          <tr>
            <th>
              {{token._id}}
            </th>
            <td>
              <input class="input" type="number" min="0" step="any" placeholder={{fromWei token.allowance}} {{b "value: value"}}>
            </td>
          </tr>
        </tbody>
        <tfoot>
          {{#unless equals lastError ''}}
            <tr>
              <td colspan="2">
                {{lastError}}
              </td>
            </tr>
          {{/unless}}
          {{#each pending}}
          <tr>
            <td colspan="2">
              Pending: {{this.value}} {{this.token}}
            </td>
          </tr>
          {{/each}}
          <tr>
            <td colspan="2">
              <button class="btn btn-default" {{b "enable: canChange, click: change"}}>
                Change {{token._id}} allowance
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </form>
</template>
