<template name="noEthereum">
    <h2>Ethereum not found</h2>
    <p>Maker Market requires an Ethereum client to be running and current. Maker Market could not detect a client running which probably means it's not installed,
        running or is misconfigured.</p>
    <p>Please use one of the following clients:</p>

    <p><b><a href="https://github.com/ethereum/mist/releases">Mist</a></b> browser, version 0.8.0 or above.</p>
    <p><b><a href="https://metamask.io/">MetaMask</a></b> chrome plugin.</p>
    <p>While you can also connect with <b>geth</b> or <b>parity</b>, these clients require more advanced configuration and are easy
    to use insecurely, see the <a href="https://github.com/MakerDAO/maker-market/wiki#network">documentation</a> for instructions.</p>
</template>