<template name="noEthereum">
    <h2>Ethereum not found</h2>
    <p>Maker Market requires an Ethereum client to be running and current. Maker Market could not detect a client running which probably means it's not installed,
        running or is misconfigured.</p>
    <p>Please use one of the following clients:</p>

    <p><b><a href="https://github.com/ethereum/mist/releases">Mist</a></b> browser, version 0.8.1 or above.
        (install and run Mist to connect to Ethereum and browse <a href="https://mkr.market">https://mkr.market</a> from within Mist).</p>
    <p><b><a href="https://metamask.io/">MetaMask</a></b> chrome plugin.
        (install MetaMask to connect to Ethereum and browse <a href="https://mkr.market">https://mkr.market</a> from your Chrome browser).</p>
    <p>While you can also connect with <b>geth</b> or <b>parity</b>, a more advanced configuration is needed. See the
        <a href="https://github.com/MakerDAO/maker-market/wiki#network">Maker Market documentation</a> for instructions.</p>
</template>