<template name="noEthereum">
    <h2>Ethereum not found</h2>
    <p>Maker-OTC requires an Ethereum client to be running and current. Maker-OTC could not detect a client running which probably means it's not installed,
        running or is misconfigured.</p>
    {{#if usingHttps}}
    <p class="text-warning">
      <strong>Note:</strong> You appear to be connecting to this DApp via HTTPS (using HTTPS Everywhere?).
      It is a browser restriction that HTTPS can't make cross origin requests to HTTP (your geth node in this case).
      Unfortunately you have to use the HTTP protocol instead.
    </p>
    {{/if}}
    <p>Start geth with:</p>
    <pre>geth --rpc --rpccorsdomain {{rpccorsdomain}}</pre>
    <p>Optionally add <code>--unlock 0xYourAddress</code> to unlock an account and/or <code>--testnet</code> to connect to the Morden testnet.</p>
</template>