<template name="offermodal">
  <div class="modal fade" id="offerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Offer</h4>
        </div>
        <div class="modal-body">
          {{#if offer}}
            <table>
              <tbody>
                <tr>
                  <th>Type</th>
                  <th>{{offer.type}}</th>
                </tr>
                <tr>
                  <th>Owner</th>
                  <td>{{offer.owner}} {{#if equals offer.owner address}}(<span class="text-success">you</span>){{/if}}</td>
                </tr>
                <tr>
                  <th>Price</th>
                  <td>{{formatBalance (toWei offer.price)}} {{quoteCurrency}}</td>
                </tr>
                <tr>
                  <th>Volume</th>
                  <td><input type="number" class="input" step="any" min="0" max={{maxVolume}} {{b "value: volume, input: calcTotal"}}> {{baseCurrency}}</td>
                </tr>
                <tr>
                  <th>Total</th>
                  <td><input type="number" class="input" step="any" min="0" max={{maxTotal}} {{b "value: total, input: calcVolume"}}> {{quoteCurrency}}</td>
                </tr>
                {{#if offer.helper}}
                  <tr>
                    <td colspan="2">{{offer.helper}}</td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
            <hr>
            {{#unless hasVolume}}
              <span class="text-danger">
                The order doesn't have a high enough {{buyCurrency}} volume.
              </span>
            {{else}}
              {{#unless hasBalance}}
                <span class="text-danger">
                  You don't have enough {{#if equals sellCurrency 'ETH'}}<a href="#ethtokens" {{b "click: dismiss"}}>{{sellCurrency}}</a>{{else}}{{sellCurrency}}{{/if}} tokens.
                </span>
              {{else}}
                {{#unless hasAllowance}}
                  <span class="text-danger">
                    You don't have enough {{sellCurrency}} <a href="#allowance" {{b "click: dismiss"}}>allowance</a>.
                  </span>
                {{else}}
                  <span class="text-danger">
                    <b>Warning!</b>
                    {{#if equals offer.type 'bid'}}
                      This action will <b>remove {{formatBalance (toWei volume)}} {{baseCurrency}}</b> {{formatPrice (toWei volume) baseCurrency}} from your token balance and allowance,
                      and <b>add {{formatBalance (toWei total)}} {{quoteCurrency}}</b> {{formatPrice (toWei total) quoteCurrency}} to your token balance.
                    {{else}}
                      This action will <b>remove {{formatBalance (toWei total)}} {{quoteCurrency}}</b> {{formatPrice (toWei total) quoteCurrency}} from your token balance and allowance,
                      and <b>add {{formatBalance (toWei volume)}} {{baseCurrency}}</b> {{formatPrice (toWei volume) baseCurrency}} to your token balance.
                    {{/if}}
                    <br>
                    If someone (partially) fills this order before you do, your offer may only be partially filled or even denied, in which case unused funds will be refunded to your balance and allowance.
                  </span>
                {{/unless}}
              {{/unless}}
            {{/unless}}
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {{#if offer}}
            <button type="button" class="btn btn-primary" data-dismiss="modal" {{b "enable: canBuy, click: buy"}}>
              {{#if equals offer.type 'bid'}}Sell{{else}}Buy{{/if}} {{baseCurrency}}
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cancel Offer</h4>
        </div>
        <div class="modal-body">
          {{#if offer}}
            <span class="text-danger">
              <b>Warning!</b>
              {{#if equals offer.type 'bid'}}
                This action will <b>return {{formatBalance (offer.volume quoteCurrency)}} {{quoteCurrency}}</b> {{formatPrice (offer.volume quoteCurrency) quoteCurrency}} to your token balance.
              {{else}}
                This action will <b>return {{formatBalance (offer.volume baseCurrency)}} {{baseCurrency}}</b> {{formatPrice (offer.volume baseCurrency) baseCurrency}} to your token balance.
              {{/if}}
              <br>
              If someone (partially) fills this order before you cancel it, your order may not or only be partially cancelled. 
            </span>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {{#if offer}}
            <button type="button" class="btn btn-danger" data-dismiss="modal" disabled={{not offer.canCancel}} {{b "click: cancel"}}>Cancel Offer</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
