/** { font: inherit; margin: 0; padding: 0 }
* { outline: none }
* { box-sizing: border-box }

body { font-family: sans-serif }
body { line-height: 1rem }
body { font-size: .8rem }
body > div.container { padding: 1rem }
body > div.container { padding-bottom: 3rem }
body > div.container { max-width: 20rem }
body > div.container { margin: auto }

h1, h2, h3 { color: #546979 }
h1, h2, h3 { line-height: 2rem }
h1, h2, h3 { margin-top: 1rem }

h1 { text-align: center }
h1 { font-size: 1.5rem }
h1 img { width: 8rem }
h1 img { margin-left: 1rem }
h1 span { position: relative }
h1 span { top: 2.2rem }
h1 span { left: -1.25rem }

h2 { border-top: .1rem solid currentcolor }
h2, h3 { font-weight: bold }
h2 span { font-size: .6rem }
h2 span { font-weight: normal }
h2 span { margin-left: .5rem }
h2 span { color: gray }
h2 .nav-tabs a:focus { outline: none }

p { max-width: 30rem }
p { margin: 0 0 10px }

table { border-collapse: collapse }
table { width: 100% }
th { text-transform: uppercase }
th { font-size: .6rem }
td, th { padding: .2rem }

small { color: lightgray }
.o td { text-align: right }
.o th { text-align: right }
.o th { color: gray }
.o tbody tr.confirmed td.buy { cursor: pointer }
.o tbody tr.confirmed td.cant-buy { cursor: not-allowed }
.o tbody tr:hover { background: #eee }
.o tbody tr:hover+tr.helper-row { background: #eee }
.o tbody tr.cancelled { color: grey }
.o tbody tr.cancelled td { position: relative }
.o tbody tr.cancelled td:before { content: " " }
.o tbody tr.cancelled td:before { position: absolute }
.o tbody tr.cancelled td:before { bottom: 50% }
.o tbody tr.cancelled td:before { left: 0 }
.o tbody tr.cancelled td:before { border-bottom: 1px solid #333 }
.o tbody tr.cancelled td:before { width: 100% }
.o tbody tr.pending { color: grey }
.o tbody tr.bought { font-weight: 600 }
.o tbody tr.helper-row { color: grey }
.o tbody tr.helper-row { font-size: smaller }

.nostretch { width: 1% }
.nostretch { white-space: nowrap }

td.bid, th.bid { color: darkgreen }
td.ask, th.ask { color: darkred }

form th { text-align: right }
form th { padding: .2rem 1rem }
form th { color: gray }
form th { width: 50% }
form tfoot td { text-align: right }
form tfoot td { padding-top: 1rem }

.radio label { width: 8rem }
.radio input[type=radio] { margin-top: 5px }
[type=number] { width: 8rem }

button { border: .075rem solid currentcolor }
button { padding: .1rem .8rem }
button { text-transform: uppercase }
button { font-size: .6rem }
button { border-radius: .2rem }
button { cursor: pointer }
button.btn-default:disabled { color: #eee }

.input { border: none }
.input { border-bottom: .075rem solid #546979 }
.input { background: none }
.input { padding: .1rem 0rem }
.input { text-transform: uppercase }
.input[disabled] { cursor: not-allowed }

@media (min-width: 640px)
{ :root { font-size: 20pt } }

@media (min-width: 1280px) {
body > div.container { max-width: 40rem }
h1 { text-align: left }
h1 img { margin-left: -1.2rem }
.o { overflow: hidden }
.row { overflow: hidden }
section { float: right; width: 48% }
section:first-of-type { float: left }
}

#spnSwitchCurrencies {
  margin: 0px 10px;
  vertical-align: middle;
  cursor: pointer;
}
*/
