$dark-green: darkgreen;
$dark-red: darkred;

* {
  font: inherit; 
  margin: 0; 
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1rem;
  font-size: .8rem;

  div.container {
    padding: 1rem;
    padding-bottom: 3rem;
    max-width: 20rem;
    margin: auto;
  }
}

h1, h2, h3 {
  color: #546979;
  line-height: 2rem;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  font-size: 1.5rem;

  img {
    width: 8rem;
    margin-left: 1rem;
  }

  span {
    position: relative;
    top: 2.2rem;
    left: -1.25rem;
  }
}

h2 {
  border-top: .1rem solid currentcolor;
  font-weight: bold;

  span {
    font-size: .6rem;
    font-weight: normal;
    margin-left: .5rem;
    color: gray;
  }

  .nav-tabs {
    a:focus {
      outline: none
    }
  }
}

p {
  max-width: 30rem;
  margin: 0 0 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-transform: uppercase;
  font-size: .6rem;
  padding: .2rem
}

td {
  padding: .2rem;
}

small {
  color: lightgray;
}

.o {
  td {
    text-align: right;
  }

  th {
    text-align: right;
    color: gray;
  }

  tbody {
    tr.confirmed {
      td.buy {
        cursor: pointer
      }

      td.cant-buy {
        cursor: not-allowed;
      }
    }

    tr:hover, tr:hover+tr.helper-row {
      background: #eee
    }

    tr.cancelled {
      color: grey;

      td {
        position: relative;
      }

      td:before {
        content: " ";
        position: absolute;
        bottom: 50%;
        left: 0;
        border-bottom: 1px solid #333;
        width: 100%;
      }
    }

    tr.pending {
      color: grey;
    }

    tr.bought {
      font-weight: 600;
    }

    tr.helper-row {
      color: grey;
      font-size: smaller;
    }
  }
}

.nostretch {
  width: 1%;
  white-space: nowrap;
}

td.bid, th.bid {
  color: $dark-green;
}

td.ask, th.ask {
  color: $dark-red;
}

form {
  th {
    text-align: right;
    padding: .2rem 1rem;
    color: gray;
    width: 50%;
  }
  tfoot {
    td {
      text-align: right;
      padding-top: 1rem;
    }
  }
}

.radio {
  label {
    width: 8rem;
  }

  input[type=radio] {
    margin-top: 5px;
  }
}

[type=number] {
  width: 8rem;
}

button {
  border: .075rem solid currentcolor;
  padding: .1rem .8rem;
  text-transform: uppercase;
  font-size: .6rem;
  border-radius: .2rem;
  cursor: pointer;
}

button.btn-default:disabled {
  color: #eee;
}

.input {
  border: none;
  border-bottom: .075rem solid #546979;
  background: none;
  padding: .1rem 0rem;
  text-transform: uppercase;
}

.input[disabled] { 
  cursor: not-allowed;
}

@media (min-width: 640px) { 
  :root { font-size: 20pt }
}

@media (min-width: 1280px) {
  body > div.container { max-width: 40rem }
  h1 { text-align: left }
  h1 img { margin-left: -1.2rem }
  .o { overflow: hidden }
  .row { overflow: hidden }
  section { float: right; width: 48% }
  section:first-of-type { float: left }
}
