$background-color: #F8F7F5;
$color-quote-currency: #795548;
$color-base-currency: #8D86C9;
$color-buy: #26A69A;
$color-sell: #EF5350;

body {
  background-color: $background-color;
  margin-top: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3.99px;
  font-size: 24px;
  margin-top: 0;
}

table {
  width: 100%;
}

.container {
  width: 980px;
}

.bid,
.buy,
.deposit
{
  color: $color-buy;
}

.quote-currency {
  color: $color-quote-currency;
}

.ask,
.sell,
.withdrawal
{
  color: $color-sell;
}

.base-currency {
  color: $color-base-currency;
}

.bold {
  font-weight: 700;
}

.select-glyph {
  color: #D3D5DC;
  z-index: -1;
}

.row-header {
  margin-bottom: 20px;
}

.account-section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: right;
  padding-right: 15px;

  .select-change-allowance {
    border: 1px solid #D3D5DC;
    border-radius: 100px;
    font-size: 10px;
    background-color: rgba(0,0,0,0.0);
    margin-left: 25px;
    display: inline-block;
    padding: 0px 17px 0px 10px;
  }

  .select-change-account {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0.0);
    color: #222228;
    opacity: 0.68;
    border: none;
    margin-right: -18px;
    padding: 13px 33px 13px 17px;
    z-index: 1;
    position: relative;
    cursor: pointer;
  }

  .link-contract-address {
    color: #D0D0D0;
    margin-right: 11px;
    padding: 13px 0px 13px 17px;
    display: inline-block;
  }
}

.networkstatus-section {
  display: flex;
  align-items: center;

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #4F5362;
    margin: 0 0 5px;
  }

  img {
    margin-right: 5px;
  }

  .div-connected {
    margin-bottom: 10px;
  }

  .network-type {
    font-weight: 700;
    margin-right: 8px;
  }

  .network-status {
    opacity: 0.8;
  }

  .circle {
    width: 13px;
    height: 13px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
  }

  .green-circle {
    @extend .circle;
    background-color: #1ABC9C;
  }

  .yellow-circle {
    @extend .circle;
    background-color: #F5BD00;
  }

  .closed-circle {
    @extend .circle;
    background-color: #70737F;
  }

  .clock-image {
    vertical-align: top;
  }
}

.tabs {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 20px;
  min-height: 36px;
  position: relative;

  ul.nav-tabs {
    border-bottom: none;

    li {
      border: 1px solid #D3D5DC;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 500;
      -moz-appearance: none;
      -webkit-appearance: none;
      opacity: 0.40;
      padding: 0;

      a {
        color: #4F5362;
        min-width: 100%;
        height: 33px;
        display: block;
        padding: 7px 28px 7px 29px;
        cursor: pointer;
      }

      a.tab-link,
      a.tab-link:hover  {
        background-color: rgba(0,0,0,0.0);
        border: none;
      }
    }

    li.active {
      background-color: #E8E9ED;
      opacity: 1;
    }

    .first-tab {
      border-radius: 100px 0 0 100px;
    }

    .middle-tab {
      background-color: rgba(0,0,0,0.0);
      border-radius: 0px;
    }

    .last-tab {
      background-color: rgba(0,0,0,0.0);
      border-radius: 0px 100px 100px 0px;
    }
  }

  ul:before,
  ul:after {
    content: "";
    position: absolute;
    border-top: 1px solid #DCDDE0;
    top: 15px;
  }

  ul:before {
    right: 100%;
    width: 250px;
  }

  ul:after {
    left: 100%;
    margin-left: -20px;
    width: 270px;
  }
}

.messages {
  display: flex;
  justify-content: center;
}

.div-message {
  background: rgba(215,215,215,0.05);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
  border-radius: 3px;
  width: 442px;
  padding: 10px 25px;

  p {
    opacity: 0.69;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #4F5362;
    letter-spacing: 0.58px;

    .attention {
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 0.54px;
    }

    .warning {
      @extend .attention;
      color: #F07371
    }

    .update {
      @extend .attention;
      color: #1ABC9C;
    }
  }
}

.div-message-warning {
  @extend .div-message;
  margin-right: 15px;
}

.div-message-update {
  @extend .div-message;
  margin-left: 15px;
}

.balance-row {
  margin: 0 auto;
}

.balance {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #4F5362;
  margin-bottom: 35px;

  .span-currency-allowance {
    font-size: 30.5px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
  }

  .span-total-balance-title {
    opacity: 0.70;
    margin-right: 10px;
  }

  .span-total-balance-amount {
    font-weight: 700;
  }

  .btn-change-allowance {
    border: 1px solid #A8ACB9;
    border-radius: 100px;
    font-size: 9px;
    color: #A8ACB9;
    background-color: rgba(0,0,0,0.0);
    margin-top: 10px;
  }
}

.currencies {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  height: 104px;

  .currencies-selectors {
    text-align: center;
    color: #4F5362;
    letter-spacing: 2px;
    margin: 0px;
    display: block;
    align-self: center;

    .select-box {
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none;
      background-color: rgba(0,0,0,0.0);
      padding: 8px 0px 8px 0px;
      cursor: pointer;
    }

    .select-box-quote {
      @extend .select-box;
      margin-left: -25px;
      padding-right: 8px;
      padding-left: 28px;
    }

    .select-box-base {
      @extend .select-box;
      margin-right: -25px;
      padding-left: 8px;
      padding-right: 28px;
    }

    .select-currency {
      display: inline-block;
      border: 1px solid #D3D5DC;
      position: relative;
      z-index: 1;
    }

    .select-quote-currency {
      @extend .select-currency;
      border-radius: 100px 0 0 100px;
      background-color: #E8E9ED;
      padding: 0px 0px 0px 12px;
      border-right: 0px;
      margin-right: -6px;
    }

    .select-base-currency {
      @extend .select-currency;
      border-radius: 0 100px 100px 0;
      opacity: 0.5;
      background-color: rgba(0,0,0,0.0);
      padding: 0px 12px 0px 0px;
    }

    .span-token-pair {
      font-size: 10px;
      font-weight: 500;
      opacity: 0.68;
      display: block;
      margin-top: 15px;
    }
  }
}

.order-center {
  width: 955px;
  margin: 0 auto;
}

.order-section {
  opacity: 0.89;
  background: #FFFFFF;
  border: 1px solid #EFF1F3;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.13);
  border-radius: 4px;
  width: 442px;
  min-height: 290px;
  margin: 0px 17px 35px 17px;
  padding: 30px 0px 10px 30px;
}

.order-section-first {
  @extend .order-section;
  margin-right: 17px;
}

.order-section-second {
  @extend .order-section;
  margin-left: 17px;
}

.order-section-content {
  thead {
    th {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 10px;
      opacity: 0.68;
      height: 30px;
      text-align: center;
      color: #222228;
    }

    th:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    th:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    tr {
      background: #F8F7F5;
    }
  }

  tr {
    text-align: center;
    height: 30px;

    &.clickable {
      cursor: pointer;
      
      &:hover {
        background: #e2e2e2;
      }
    }
  }

  td:first-child {
    font-weight: 900;
  }

  td {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14.5px;
    color: #4A4A4A;
    padding-top: 10px;
  }

  td.bid {
    color: $color-buy;
  }

  td.ask {
    color: $color-sell;
  }

  td.timestamp {
    font-weight: 500;
    color: #666669;
    opacity: 0.5;
  }

  td.order-type {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    font-size: 13px;
  }

  .cancel {
    border: none;
    padding: 0px;
  }
}

.buy-sell-section {
  padding-right: 30px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;

  .table-fixed {
    table-layout: fixed;
  }

  th {
    width: 150px;
  }

  tbody {
    th {
      opacity: 0.68;
      font-size: 15px;
      font-weight: 500;
    }

    input {
      font-family: Roboto-Black;
      font-size: 27px;
      color: #D0D0D0;
      border: 1px solid;
      text-align: right;
      padding-right: 10px;
      max-width: 175px;
      
      &[disabled] {
        border: none;
      }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    tr.row-input-line {
      td,
      th {
        //border-bottom: 1px solid #CFD8DC;
        padding-top: 10px;
      }
      td:last-child {
        text-align: right;
      }
    }

    .span-buy-sell-currency {
      font-weight: 700;
      font-size: 10px;
      color: #222228;
      letter-spacing: 1px;
      width: 45px;
      display: inline-block;
      text-align: left;
      margin-left: 2px;
    }
  }

  tfoot {
    th,
    td {
      padding-top: 10px;
      min-height: 36px;
    }

    .first-row {
      padding-top: 20px;
    }

    .help-block {
      font-size: 13px;
      color: #D0D0D0;
      font-weight: 500;
      margin: 0px;
    }

    .row-height {
      height: 36px;
    }
  }
}

.transfer-section {
  padding-right: 30px;

  tr.row-input-line {
    td,
    th {
      border-bottom: 1px solid #CFD8DC;
      border-bottom: 1px solid rgba(207,216,220, 0.35);
    }
  }

  th {
    opacity: 0.68;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #222228
  }

  td {
    text-align: right;
  }

  th,
  td {
    padding-bottom: 5px;
    padding-top: 20px;
  }

  input {
    border: none;
    text-align: right;
    color: #222228;
  }

  input.amount {
    font-weight: 700;
    color: #D0D0D0;
    font-size: 24px;
  }

  input.recipient {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 11px;
    min-width: 280px;
    opacity: 0.7;
  }

  button {
    border: 1px solid #A8ACB9;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #4F5362;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.57px;
    width: 131px;
  }

  .select-box {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: rgba(0,0,0,0.0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    opacity: 0.68;
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding-right: 15px;
    margin-right: -15px;
  }
}

.history-section {
  td {
    font-family: 'Roboto', sans-serif;
    font-size: 14.5px;
    font-weight: 500;
    color: #4A4A4A;
    padding-top: 10px;

    a {
      color: #4A4A4A;
    }
  }

  td:first-child {
    color: #666669;
    opacity: 0.5;
  }

  th {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #222228;
    opacity: 0.68;
  }
}

.deposit-section {
  padding-right: 30px;

  th {
    opacity: 0.68;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #222228
  }

  td {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #4F5362;
    text-align: right;
  }

  td.deposit{
    color: $color-buy;
  }

  td.withdrawal{
    color: $color-sell;
  }

  td.token {
    opacity: 0.6;
  }

  th,
  td {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  input {
    border: 1px solid;
    text-align: right;
    margin-left: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #D0D0D0;
    width: 50%;
  }

  button {
    border: 1px solid #A8ACB9;
    border-radius: 100px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #4F5362;
    font-size: 13.5px;
    font-weight: 500;
    letter-spacing: 1.57px;
    width: 116px;
    opacity: 1;
  }

  table.history{
    td{
      font-size: 16px;
      text-align: left;
    }
    td.withdrawal,
    td.deposit{
      text-align: right;
    }
  }

}

.question-circle {
  border-radius: 50%;
  font-size: 9px;
  border: 1px solid #CFD8DC;
  background-color: #FFFFFF;

  text-align: center;
  width: 14px;
  height: 14px;
  display: inline-block;
  color: #848FA5;
  letter-spacing: normal;
  line-height: 12px;
}

.question-circle-spacing {
  margin-right: 30px;
}

.btn-submit-order {
  border: 1px solid;
  border-radius: 100px;
  font-size: 13.5px;
  letter-spacing: 1.57px;
  opacity: 1;
  margin-left: 15px;
}

.btn-submit-order-buy {
   @extend .btn-submit-order;
   border-color: $color-buy;
}

.btn-submit-order-sell {
   @extend .btn-submit-order;
   border-color: $color-sell;
}

.btn-placement-right {
  float: right;
}

.div-more {
  text-align: center;
  margin: 15px 0px 5px 0px;
}

.modal-order {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
  width: 490px;
  overflow: auto;

  h4 {
    font-size: 24px;
    color: #222228;
  }

  th {
    color: #222228;
    opacity: 0.68;
    font-weight: 500;
  }

  td {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: #D0D0D0;
  }

  input {
    border: 1px solid;
    text-align: right;
    padding-right: 10px;
    width: 50%;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  tr.row-input-line {
      td,
      th {
        padding-top: 10px;
      }
      td:last-child {
        text-align: right;
      }
    }

  .span-owner {
    font-size: 12px;
  }

  .span-offer-currency {
    font-size: 10px;
    font-weight: 700;
    color: #222228;
    opacity: 0.60;
    width: 46px;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
  }

  .div-modal-text {
    font-weight: 700;
    font-size: 14px;
    color: #222228;
    opacity: 0.50;
  }

  .div-actions {
    float: right;
    margin-top: 5px;
  }
}

.no-ethereum-section {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #222228;
  font-size: 25px;

  h2 {
    font-family: 'Montserrat-SemiBold', sans-serif;
    opacity: 0.8;
    color: #222228;
  }

  .img-maker-logo {
    width: 364px;
    padding-bottom: 30px;
  }

  .img-ethereum-logo {
    width: 61px;
    padding-top: 30px;
    margin-bottom: 40px;
  }

  .horizontal-line {
    color: #DCDDE0;
    border: 0px;
    border-top: solid 1px #DCDDE0;
  }

  .p-not-found{
    opacity: 0.50;
    width: 925px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 70px;
    letter-spacing: 0.6px;
  }

  .p-use-clients {
    display: inline-block;
    color: #546979;
    font-family: 'Montserrat-SemiBold', sans-serif;
  }

  .p-connect-geth {
    opacity: 1;
    width: 925px;
    color: #4F5362;
    display: inline-block;
    letter-spacing: 0.6px;
  }

  .div-clients {
    height: 360px;
    display: flex;
    justify-content: center;
    font-size: 21px;
    color: #4F5362;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .div-metamask,
  .div-mist {
    background-color: #FFFFFF;
    width: 340px;
    height: 360px;
    padding: 33px 10px 33px 27px;
    opacity: 0.89;
    border: 2px solid #EFF1F3;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.13);
    border-radius: 4px;
    margin: 0 20px;

    h2 {
      margin-bottom: 45px;
    }

    p {
      display: table;
      text-align: left;
      margin-bottom: 20px;
    }

    .img-logo {
      width: 85px;
    }

    .span-montserrat-semi-bold {
      font-family: 'Montserrat-SemiBold', sans-serif;
      font-size: 21px;
      color: #4F5362;
    }

    .numberCircle {
      display: inline-block;
      border-radius: 50%;
      height: 28px;
      width: 28px;
      line-height: 28px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      text-align: center;
      border: solid 1px #CFD8DC;
      font-size: 18px;
      color: #222228;
      opacity: 0.68;
    }

    .align-number {
      display: table-cell;
      vertical-align: middle;
      padding-right: 20px;
    }

    .a-link {
      color: #337ab7;
    }
  }
}

.footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: #4F5362;
  opacity: 0.70;
  margin-top: 100px;
  margin-bottom: 30px;
}
