$background-color: #F8F7F5;
$bid-color: #1ABC9C;
$ask-color: #8D86C9;

body {
  background-color: $background-color;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3.99px;
  font-size: 24px;
}

table {
  width: 100%;
}

.bid,
.buy,
.quote-currency {
  color: $bid-color;
}

.ask,
.sell,
.base-currency {
  color: $ask-color;
}

.bold {
  font-weight: 700;
}

.account-section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: right;

  .select-change-allowance {
    border: 1px solid #D3D5DC;
    border-radius: 100px;
    font-size: 10px;
    color: #D0D0D0;
    background-color: rgba(0,0,0,0.0);
    margin-left: 20px;
    margin-right: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 8px 10px;
  }  
}

.networkstatus-section {
  p {
    margin-left: 0px;
    overflow: auto;
    display: block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
  }

  img {
    float: left;
    margin-right: 5px;
    clear: both;
  }
}

.tabs {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  
  ul {
    border-bottom: none;
  }

  li {
    border: 1px solid #D3D5DC;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #E8E9ED;
    
    a {
      padding: 0px;
      color: #4F5362;
    }
  }

  .first-tab {
    padding: 7px 30px 7px 35px;
    border-radius: 100px 0 0 100px;    
  }

  .middle-tab {
    background-color: rgba(0,0,0,0.0);
    opacity: 0.40;
    padding: 7px 20px 7px 20px;
    border-radius: 0px;
  }

  .last-tab {
    background-color: rgba(0,0,0,0.0);
    opacity: 0.40;
    padding: 7px 35px 7px 30px;
    border-radius: 0px 100px 100px 0px;
  }
}

.balance {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #4F5362;
  margin-bottom: 35px;

  .span-currency-allowance {
    font-size: 30.5px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
  }

  .span-total-balance-title {
    opacity: 0.70;
    margin-right: 10px;
  }

  .span-total-balance-amount {
    font-weight: 700;
  }

  .btn-change-allowance {
    border: 1px solid #A8ACB9;
    border-radius: 100px;
    font-size: 9px;
    color: #A8ACB9;
    background-color: rgba(0,0,0,0.0);
    margin-top: 10px;
  }
}

.currencies {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  height: 104px;
  
  .currencies-selectors {
    text-align: center;
    color: #4F5362;
    letter-spacing: 2px;
    margin: 0px;
    display: block;
    align-self: center;

    .select-quote-currency {
      -moz-appearance: none;
      -webkit-appearance: none;
      border-radius: 100px 0 0 100px;
      background-color: #E8E9ED;
      padding: 5px 2px 5px 35px;
      margin-right: -7px;
      border-right: 0px;
      border: 1px solid #D3D5DC;
    }

    .select-base-currency {
      -moz-appearance: none;
      -webkit-appearance: none;
      border-radius: 0 100px 100px 0;
      opacity: 0.5;
      background-color: rgba(0,0,0,0.0);
      padding: 5px 29px 5px 8px;
      border: 1px solid #D3D5DC;
    }

    .span-token-pair {
      font-size: 10px;
      font-weight: 500;
      opacity: 0.68;
      display: block;
      margin-top: 15px;
    }
  }
}

.order-section {
  opacity: 0.89;
  background: #FFFFFF;
  border: 1px solid #EFF1F3;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.13);
  border-radius: 4px;
  width: 442px;
  min-height: 290px;
  margin-right: 35px;
  margin-bottom: 35px;
  padding-right: 0px;
  padding-bottom: 10px;
}

.order-section-content {
  thead {
    th {
      border-radius: 4px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 10px;
      opacity: 0.68;
      height: 30px;
      text-align: center;
    }
    
    tr {
      background: #F8F7F5;
    }
  }

  tr {
    text-align: center;
    height: 30px;
  }

  td:first-child {
    font-weight: 900;
  }

  td {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14.5px;
  }
}

.buy-sell-section {
  padding-right: 20px;

  tbody {
    th {
      opacity: 0.68;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      font-weight: 500;
    }

    input {
      font-family: Roboto-Black;
      font-size: 27px;
      color: #D0D0D0;
      border: none;
      text-align: right;
      padding-right: 10px;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }

    tr.row-input-line {
      td,
      th {
        border-bottom: 1px solid #CFD8DC;
        padding-top: 10px;
      }
      td:last-child {
        text-align: right;
      }
    }

    .span-buy-sell-currency {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 10px;
      color: #222228;
      letter-spacing: 1px;
    }

    .help-block {
      font-size: 13px;
      color: #D0D0D0;
    }
  }
}

.question-circle {
  border-radius: 50%;
  font-size: 9px;
  border: 1px solid #CFD8DC;
  background-color: #FFFFFF;

  text-align: center;
  width: 14px;
  height: 14px;
  display: inline-block;
  color: #848FA5;
  float: right;
  margin-right: 20px;
}

.btn-submit-order {
  border: 1px solid;
  border-radius: 100px;
  font-size: 13.5px;
  letter-spacing: 1.57px;
  float: right;
}

.btn-submit-order-buy {
   @extend .btn-submit-order;
   border-color: $bid-color;
}

.btn-submit-order-sell {
   @extend .btn-submit-order;
   border-color: $ask-color;
}

.modal-order {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
  width: 490px;
  overflow: auto;
  
  h4 {
    font-size: 24px;
    color: #222228;
  }

  th {
    color: #222228;
    opacity: 0.68;
    font-weight: 500;
  }

  td {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: #D0D0D0;
  }

  input {
    border: none;
    text-align: right;
    padding-right: 10px;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  tr.row-input-line {
      td,
      th {
        padding-top: 10px;
      }
      td:last-child {
        text-align: right;
      }
    }

  .span-owner {
    font-size: 12px;
  }

  .span-offer-currency {
    font-size: 10px;
    font-weight: 700;
    color: #222228;
    opacity: 0.60;
  }

  .div-modal-text {
    font-weight: 700;
    font-size: 14px;
    color: #222228;
    opacity: 0.50;
  }

  .div-actions {
    float: right;
    margin-top: 5px;
  }
}

/*
$dark-green: darkgreen;
$dark-red: darkred;

* {
  font: inherit; 
  margin: 0; 
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1rem;
  font-size: .8rem;

  div.container {
    padding: 1rem;
    padding-bottom: 3rem;
    max-width: 20rem;
    margin: auto;
  }
}

h1, h2, h3 {
  color: #546979;
  line-height: 2rem;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  font-size: 1.5rem;

  img {
    width: 8rem;
    margin-left: 1rem;
  }

  span {
    position: relative;
    top: 2.2rem;
    left: -1.25rem;
  }
}

h2 {
  border-top: .1rem solid currentcolor;
  font-weight: bold;

  span {
    font-size: .6rem;
    font-weight: normal;
    margin-left: .5rem;
    color: gray;
  }

  .nav-tabs {
    a:focus {
      outline: none
    }
  }
}

p {
  max-width: 30rem;
  margin: 0 0 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-transform: uppercase;
  font-size: .6rem;
  padding: .2rem
}

td {
  padding: .2rem;
}

small {
  color: lightgray;
}

.o {
  td {
    text-align: right;
  }

  th {
    text-align: right;
    color: gray;
  }

  tbody {
    tr.confirmed {
      td.buy {
        cursor: pointer
      }

      td.cant-buy {
        cursor: not-allowed;
      }
    }

    tr:hover, tr:hover+tr.helper-row {
      background: #eee
    }

    tr.cancelled {
      color: grey;

      td {
        position: relative;
      }

      td:before {
        content: " ";
        position: absolute;
        bottom: 50%;
        left: 0;
        border-bottom: 1px solid #333;
        width: 100%;
      }
    }

    tr.pending {
      color: grey;
    }

    tr.bought {
      font-weight: 600;
    }

    tr.helper-row {
      color: grey;
      font-size: smaller;
    }
  }
}

.nostretch {
  width: 1%;
  white-space: nowrap;
}

td.bid, th.bid {
  color: $dark-green;
}

td.ask, th.ask {
  color: $dark-red;
}

form {
  th {
    text-align: right;
    padding: .2rem 1rem;
    color: gray;
    width: 50%;
  }
  tfoot {
    td {
      text-align: right;
      padding-top: 1rem;
    }
  }
}

.radio {
  label {
    width: 8rem;
  }

  input[type=radio] {
    margin-top: 5px;
  }
}

[type=number] {
  width: 8rem;
}

button {
  border: .075rem solid currentcolor;
  padding: .1rem .8rem;
  text-transform: uppercase;
  font-size: .6rem;
  border-radius: .2rem;
  cursor: pointer;
}

button.btn-default:disabled {
  color: #eee;
}

.input {
  border: none;
  border-bottom: .075rem solid #546979;
  background: none;
  padding: .1rem 0rem;
  text-transform: uppercase;
}

.input[disabled] { 
  cursor: not-allowed;
}

@media (min-width: 640px) { 
  :root { font-size: 20pt }
}

@media (min-width: 1280px) {
  body > div.container { max-width: 40rem }
  h1 { text-align: left }
  h1 img { margin-left: -1.2rem }
  .o { overflow: hidden }
  .row { overflow: hidden }
  section { float: right; width: 48% }
  section:first-of-type { float: left }
}
*/