<template name="orderRow">
  <tr class={{order.status}} title={{timestampToString order.timestamp true}}>
    <td class={{order.type}}>{{formatBalance (toWei order.price)}}</td>
    <td>{{formatBalance (order.volume quoteCurrency)}}</td>
    <td>{{formatBalance (order.volume baseCurrency)}}</td>
    <td>
      {{#if order.canCancel}}
        {{#if showCancel}}
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove cancel" aria-hidden="true"></span>                
          </button>
        {{/if}}
      {{/if}}
    </td>
  </tr>
  {{#if order.helper}}
    <tr class="helper-row">
      <td colspan="4">{{order.helper}}</td>
    </tr>
  {{/if}}
</template>
