<template name="marketDetails">
  <p>
    Market Contract: <a href={{contractHref}}>{{contractAddress}}</a>
    {{> whatisthis section="contract"}}
  </p>

  {{#if isMarketOpen}}
    <p>
      Market open until {{timestampToString marketCloseTime true}}
      {{> whatisthis section="expiring-market"}}
    </p>
  {{else}}
    <p class="text-danger">
      Market has closed on {{timestampToString marketCloseTime true}}.
      {{> whatisthis section="expiring-market"}}<br />
      <strong>Please cancel your orders.</strong>
    </p>
  {{/if}}
</template>